body {
    background: linear-gradient(-180deg, #2b5876 0%,#4e4376 100%);
}

html {
    height: 100vh;
}

h1 {
    font-family: 'Armata', sans-serif;
    color: white;
    border-color: black;
}

#header {
    margin-top: 3%
}

* {
    font-family: 'Armata', sans-serif;
    color: white;
}

#temperature{
    margin-top: 25% 
}

#humid{
    margin-top: 20%
}

#intensity{
    margin-top: 10%
}
#airconditioner-control{
    margin-top: 13%;
}

#light-control{
    margin-top: 13%;
}

#buzzer-control{
    margin-top: 13%;
}

#door-control{
    margin-top: 13%;
}

